@import './variables.css';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  color: var(--color-white);
  background: var(--color-dark-blue);

  *::selection {
    background: var(--color-blue);
    color: var(--color-black);
  }
}

a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: var(--txt-bold);

  &:focus-visible {
    outline: 1px solid var(--color-blue);
  }
}

.txt-highlight {
  display: inline-block;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: -0.2em;
  font-weight: var(--txt-black);
  background: var(--color-white);
  color: var(--color-black);
}

.txt-highlight-blue {
  background: var(--color-blue);
}

.txt-highlight-green {
  background: var(--color-green);
}

.txt-highlight-orange {
  background: var(--color-orange);
}

.txt-highlight-purple {
  background: var(--color-purple);
}

.fade {
  transition: opacity 0.5s;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}